<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                {% for x in user_chat %}
                    {% for i in x.messages.all %}     
                <div class="panel-body">
                    <ul class="chat">
                        {% if i.author == user %}
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/35/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="navbar-link"> <a class="navbar-link" href="{% url 'user-page' user.id %}">{{user.username}}</a></strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{i.created_at}}</small>
                                </div>
                                <p>
                                    {{i.text}}
                                </p>
                            </div>
                        </li>
                        {% else %}
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/35/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{i.created_at}}</small>
                                    
                                    <strong class="pull-right primary-font"><a class="navbar-link" href="{% url 'user-page' i.author.id %}">{{i.author.username}}</a></strong>
                                </div>
                                <p class="pull-right primary-font">
                                    {{i.text}}
                                </p>
                            </div>
                        {% endif %}
                        </li>

                    </ul>
                </div>
                    {% endfor %}
                {% endfor %}
                <div class="modal-body">
                    <form method="POST" action="{% url 'create-message-in-chat' %}" id="text-modal">
                        {% csrf_token %}
                        {% for user in user_chat %}
                        <input type="hidden" class="form-control" id="user_chat" value="{{user.id}}" name="user_chat">
                        {% endfor %}
                        <div class="form-group">
                            <label for="text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="text" name="text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="text-modal">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>
