<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">

                    <ul class="chat">
                        {% for i in user_chat.messages.all %}  
                            {% if i.author == user %}
                            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="http://placehold.it/35/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="navbar-link"> <a class="navbar-link" href="{% url 'user-page' user.id %}">{{user.username}}</a></strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{i.created_at|date:"Y-m-d"}}T{{i.created_at|time:"H:i:s"}}</small>
                                    </div>
                                    <p>
                                        {{i.text}}
                                    </p>
                                </div>
                            </li>
                            {% else %}
                            <li class="right clearfix"><span class="chat-img pull-right">
                                <img src="http://placehold.it/35/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{i.created_at|date:"Y-m-d"}}T{{i.created_at|time:"H:i:s"}}</small>
                                        
                                        <strong class="pull-right primary-font"><a class="navbar-link" href="{% url 'user-page' i.author.id %}">{{i.author.username}}</a></strong>
                                    </div>
                                    <p class="pull-right primary-font">
                                        {{i.text}}
                                    </p>
                                </div>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                    
                <div class="modal-body">
                    <form method="POST" action="{% url 'create-message-in-chat' %}" id="text-modal">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="user_chat" value="{{user_chat.id}}" name="user_chat">
                        <div class="form-group">
                            <label for="text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="text" name="text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="user_chat_submit" class="btn btn-primary" value="Send" form="text-modal">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var loc = window.location
    var chatName = '{{ user_chat.id }}';
    var username = '{{user.username}}';
    var chatSocket = new WebSocket(
        'ws://' + loc.host +
        '/chat-profile-view/' + chatName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var author = data['author'];
        var created_at = data['created_at'];
        var test = $('.chat');
        if (author == username){
            test.append(
                '<li class="left clearfix"><span class="chat-img pull-left">'+
                '<img src="http://placehold.it/35/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />'+
                '</span><div class="chat-body clearfix"><div class="header">'+
                '<strong class="navbar-link"> <a class="navbar-link">'+username+'</a>'+
                '</strong> <small class="pull-right text-muted">'+
                '<span class="glyphicon glyphicon-time"></span>'+created_at+'</small></div><p>'+message+'</p></div></li>')
        } else {
            test.append(
                '<li class="right clearfix"><span class="chat-img pull-right">'+
                '<img src="http://placehold.it/35/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />'+
                '</span><div class="chat-body clearfix"><div class="header">'+
                '<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>'+created_at+'</small>'+
                '<strong class="pull-right primary-font"><a class="navbar-link">'+author+'</a></strong>'+
                '</div><p class="pull-right primary-font">'+message+'</p></div></li>')
        }
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#text').focus();
    document.querySelector('#text').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#user_chat_submit').click();
        }
    };

    document.querySelector('#user_chat_submit').onclick = function(e) {
        e.preventDefault();
        var messageInputDom = document.querySelector('#text');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username,
        }));

        messageInputDom.value = '';
    };
</script>